<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

<link href="http://library.reynolds.edu/css/libguidesbuttons.css" rel="stylesheet" type="text/css">
<!--
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,     600' rel='stylesheet' type='text/css'><link rel="Shortcut Icon" href="http://meh273.org/favicon.ico">


<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,     600' rel='stylesheet' type='text/css'><link rel="Shortcut Icon" href="http://meh273.org/favicon.ico"> 


<script type="text/javascript">
<!--
login code for MyReynolds don't delete-->function validate() {document.auth.password.value = document.auth.password_temp.value;document.auth.password_temp.value = "";return true;}</script> 





<script>    $( document ).ready(function() {   $( ".s-lib-profile-container" ).prepend( "<h5>Your Subject Specialist</h5>" );   $( "#s-lg-az-count" ).append( " Reynolds Databases - By Title" );    });</script>



<script> $( document ).ready(function() {   $( "#s-lib-profile-contact-20776 ).hide( );    });</script>




<style> @media screen and (max-width:1024px) and (min-width:601px)  {
	                  #apDiv3  {
	display:none;
}

 .s-lib-profile-widget div  {
	display:none;
}

 #s-lg-guide-header-attributes  {
	 padding:0px!important;
}

 table  {
	 max-width:90%!important;
}

.panel-group a  {
	 color:black;
}

 .contentwrapper  {
	 width:100%!important;
}

 #searchbox  {
	 display:none;
}

}@media screen and (max-width : 600px)  {
	.footer .row-fluid .span3  {
	width:100%;
}

.contentwrapper  {
		width: 100%!important;
}

.navbar-nav  {
		margin-left: 0px!important;
}

a:hover label-info  {
		background: #900;
}

.navbar-nav .open,  .dropdown-menu>li>a,  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a  {
		background: black!important;
	 z-index:500!important;
	}

.navbar-inverse .navbar-collapse,  .navbar-inverse .navbar-form  {
		border: 0px;
}

#customside  {
		margin-left: 0px;
}

.navbar-nav  {
		margin-left: 0px;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a  {
		color: white;
}

#searchbox  {
		display: none;
}

#customside  {
		width: 100%;
}

.sideguide  {
		display: none;
}

}@media screen and (min-width:10px) and (max-width:619px)  {
	.col-md-2  {
	display:none;
}

.navbar-inverse .navbar-collapse,  .navbar-inverse .navbar-form  {
		border: 0px;
}

#logo img  {
		width: 60%;
		height: 60%;
}

#apDiv3  {
		display: none;
}

.navbar-nav  {
	}

#customside  {
		margin-left: 0px;
}

.navbar-nav  {
		margin-left: 0px;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a  {
		color: white;
}

#searchbox  {
		display: none;
}

#customside  {
		width: 100%;
}

p  {
		font-size: 16px;
}

.s-lib-cmd-bar .nav > li > a  {
		line-height: 25px;
}

#s-lg-az-index  {
	display:none;
}

}.badge  {
	white-space:normal!important;
}

#s-lib-profile-contact-20776  {
	display:none;
}

 </style><style>.ralcwrapper  {
	background:white;
}

#s-lib-footer-public div  {
	 width:1280px;
	 border-radius:0px;
}

div.footer  {
		width: 99%;
		margin-top: 1em;
		color: #FFF;
		clear: both;
		margin-bottom: 10px;
	border-radius:0px;
}

div.footer  {
		margin-left: auto;
		margin-right: auto;
		margin-top: -11px;
		background-color: #a32638;
		/* IE10 Consumer Preview */	background-image: -ms-linear-gradient(top left,  #a32638 0%,  #8C0000 90%);
		/* Mozilla Firefox */	background-image: -moz-linear-gradient(top left,  #a32638 0%,  #8c0000 80%);
		/* Opera */	background-image: -o-linear-gradient(top left,  #a32638 0%,  #8c0000 80%);
		/* Webkit (Safari/Chrome 10) */	background-image: -webkit-gradient(linear,  left top,  right bottom,  color-stop(0,  #a32638),  color-stop(1,  #8c0000));
		/* Webkit (Chrome 11+) */	background-image: -webkit-linear-gradient(top left,  #a32638 0%,  #8c0000 90%);
		/* W3C Markup,     IE10 Release Preview */	background-image: linear-gradient(to bottom right,  #a32638 0%,  #8c0000 90%);
		padding-left: 2em;
		font-size: 12px;
		max-width: 1280px;
		border-radius: 0px;
	}

#s-lib-footer-public  {
	 border-radius: 0px 0px 10px 10px;
}

div.footer  {
		color: #FFF;
		clear: both;
		margin-bottom: 10px;
}

div.footer a  {
		color: #ffffff;
		text-decoration: none;
}

div.footer .row-fluid  {
	 *zoom: 1;
		margin-right: auto;
		margin-left: auto;
		clear: both;
		margin-top: 10px;
}

.row-fluid .span3  {
		width:24.5%;
		margin-top: .5em;
		display: inline-block;
}

#parham  {
}

.row-fluid .span3 p  {
		padding-bottom: 10px;
}

.paddingtop  {
}

.pullright  {
	 float:right:;
}

#s /* for the mainpage */ .subjectguidetitle  {
		background: #a32638;
		color: white;
		padding: .5em;
		border-radius: 10px;
		width: 65%;
		text-align: center;
}

.navbar-search input  {
		border-radius: 5px;
}

.white_text  {
		font-size: 11px;
		color: white;
}

a.label-info  {
		background-color: #a32638;
}

.label-info:hover,  label label-info  {
	background-color:#900!mportant;
}

#apDiv3  {
		position: absolute;
		width: 240px;
		height: 115px;
		z-index: 1;
		left: 78%;
		top: 13px;
}

.Reynoldssearch  {
		background: white;
		border-radius: 12px;
		color: black;
		font-size: 12px;
		padding: 5px 15px 5px 15px;
		border: solid #a32638 1px;
		text-decoration: none;
		margin-bottom: 5px;
		padding-bottom: 5px;
}

.margin-bottom-xlg  {
		font-size: 16px;
}

.gsc-input-box  {
		height: 30px!important;
		border-radius: 5px!important;
}

#gsc-i-id1  {
			padding: 0px;
		border: none;
		margin: 0px;
		height: 23px!important;
		padding-bottom: 2px;
}

.gs_tti50  {
		display: none;
}

.gsc-result-info-container,  .gsc-above-info-container  {
		color: white!important;
}

.gsc-search-box-tools .gsc-search-box .gsc-input  {
		height: 14px!important;
}

.gsc-result-info  {
		color: white!important;
}

.gsc-control-cse  {
		border: none!important;
		background-color: transparent!important;
		font-size: 12px!important;
}

.cse input.gsc-input,  input.gsc-input  {
	 margin-top:2px!important;
	background-image:url(http://library.reynolds.edu/images/images/searchthissite.png)!important;
	background-repeat:no-repeat;
	background-color:#fff;
	 ;
}

.cse input.gsc-input:focus,  input.gsc-input:focus  {
	background-image:none !important;
}

input.gsc-search-button,  input.gsc-search-button:hover,  input.gsc-search-button:focus  {
		height: 13px!important;
		margin-top: 5px!important;
		background-image: inherit!important;
		box-sizing: content-box;
		border: 1px solid white!important;
		margin-top: 5px;
		padding: 5px 5px 5px 5px!important;
}

/* for the mainpage */.prioritylinks  {
		background-color: #006699;
		color: white;
		padding: .5em;
		border-radius: 10px;
		margin-top: .8em;
		text-align: center;
}

/* for the mainpage */#s-lg-general-accordion a  {
		color: black;
		font-weight: 500!important;
	 font-size:1.2em;
}

.marginall  {
		margin: 5%;
}

.margintop  {
		margin-top: 1em;
}

.margintop1  {
		margin-top: .5em;
}

#s-lg-index-list  {
		margin-bottom: 1em;
}

#s-lg-guide-header-updated .s-lg-guide-label,  span.s-lg-guide-label  {
		color: white;
}

a.label label-info:hover  {
	 #900;
}

#s-lib-footer-public,  #s-lib-footer-public a,  .s-lg-no-val,  .s-lg-text-greyout,  .s-lib-greyout,  #s-lg-guide-header-updated  {
		background: #900;
		color: white;
		border-top: 0px;
}

.contentwrapper  {
		background: white;
		margin-left: auto;
		margin-right: auto;
		width: 1268px;
}

.contentwrapper .container  {
		width: 99%;
		max-width: 1280px!important;
}

#profile h2.s-lib-box-title  {
		display: none;
}

#profile .s-lib-box-content  {
		padding: 0px;
		margin: 0px;
}

h1#s-lg-guide-name  {
		font-size: 32px;
		background: whitesmoke;
		padding: 5px;
		border: 1px solid gray;
		border-radius: 7px;
}

#smallfont .s-lib-box-title  {
		font-size: 22px;
}

#thinredborder  {
		width: 87%;
		margin-left: .9em;
	}

#widgetwrapper h3  {
		margin-top: 0em;
		padding-top: 0px;
}

#widgetwrapper  {
		margin-bottom: 1em;
		font-size: 14px;
}

.s-lib-profile-div i  {
		display: none;
}

#widgetwrapper .btn  {
		font-weight: bold;
		width: 85%;
		border-radius: 10px;
		border: 1px solid #666;
		font-size: 16px;
		text-decoration: none;
		display: inline-block;
		padding: 6px 12px;
		margin-bottom: 0;
		line-height: 20px;
		color: #333333;
		text-align: center;
		text-shadow: 0 1px 1px rgba(255,     255,     255,     0.75);
		vertical-align: middle;
		cursor: pointer;
		background-color: #f5f5f5;
		background-image: -moz-linear-gradient(top,  #ffffff,  #e6e6e6);
		background-image: -webkit-gradient(linear,  0 0,  0 100%,  from(#ffffff),  to(#e6e6e6));
		background-image: -webkit-linear-gradient(top,  #ffffff,  #e6e6e6);
		background-image: -o-linear-gradient(top,  #ffffff,  #e6e6e6);
		background-image: linear-gradient(to bottom,  #ffffff,  #e6e6e6);
		background-repeat: repeat-x;
		border: 1px solid #cccccc;
		border-color: #e6e6e6 #e6e6e6 #bfbfbf;
		border-color: rgba(0,     0,     0,     0.1) rgba(0,     0,     0,     0.1) rgba(0,     0,     0,     0.25);
		border-bottom-color: #b3b3b3;
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',  endColorstr='#ffe6e6e6',  GradientType=0);
	 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
		-webkit-box-shadow: inset 0 1px 0 rgba(255,     255,     255,     0.2),  0 1px 2px rgba(0,     0,     0,     0.05);
		-moz-box-shadow: inset 0 1px 0 rgba(255,     255,     255,     0.2),  0 1px 2px rgba(0,     0,     0,     0.05);
		box-shadow: inset 0 1px 0 rgba(255,     255,     255,     0.2),  0 1px 2px rgba(0,     0,     0,     0.05);
		height: 110%;
		margin-bottom: .5em;
}

#widgetwrapper p a.btn  {
		color: black;
}

#widgetwrapper p a.btn:hover  {
		color: #900;
}

#widgetwrapper .btn2  {
		font-weight: bold;
		width: 95%;
		border-radius: 10px;
		border: 1px solid #666;
		font-size: 16px;
		text-decoration: none;
		display: inline-block;
		padding: 6px 12px;
		margin-bottom: 0;
		line-height: 20px;
		color: #333333;
		text-align: center;
		text-shadow: 0 1px 1px rgba(255,     255,     255,     0.75);
		vertical-align: middle;
		cursor: pointer;
		background-color: #f5f5f5;
		background-image: -moz-linear-gradient(top,  #ffffff,  #e6e6e6);
		background-image: -webkit-gradient(linear,  0 0,  0 100%,  from(#ffffff),  to(#e6e6e6));
		background-image: -webkit-linear-gradient(top,  #ffffff,  #e6e6e6);
		background-image: -o-linear-gradient(top,  #ffffff,  #e6e6e6);
		background-image: linear-gradient(to bottom,  #ffffff,  #e6e6e6);
		background-repeat: repeat-x;
		border: 1px solid #cccccc;
		border-color: #e6e6e6 #e6e6e6 #bfbfbf;
		border-color: rgba(0,     0,     0,     0.1) rgba(0,     0,     0,     0.1) rgba(0,     0,     0,     0.25);
		border-bottom-color: #b3b3b3;
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',  endColorstr='#ffe6e6e6',  GradientType=0);
	 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
		-webkit-box-shadow: inset 0 1px 0 rgba(255,     255,     255,     0.2),  0 1px 2px rgba(0,     0,     0,     0.05);
		-moz-box-shadow: inset 0 1px 0 rgba(255,     255,     255,     0.2),  0 1px 2px rgba(0,     0,     0,     0.05);
		box-shadow: inset 0 1px 0 rgba(255,     255,     255,     0.2),  0 1px 2px rgba(0,     0,     0,     0.05);
		height: 110%;
		margin-bottom: .5em;
}

#widgetwrapper p a.btn2  {
		color: black;
}

#widgetwrapper p a.btn2:hover  {
		color: #900;
}

.chatwrapper,  #s-lg-content-5107725  {
		height: 300px!important;
}

.navbar .nav > li > .dropdown-menu::after  {
		position: absolute;
		top: -6px;
		left: 10px;
		display: inline-block;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #ffffff;
		border-left: 10px solid transparent;
	}

.navbar .nav>li>.dropdown-menu::after  {
	  position: absolute;
	  top: -6px;
	  left: 10px;
	  display: inline-block;
	  border-right: 6px solid transparent;
	  border-bottom: 6px solid #fff;
	  border-left: 6px solid transparent;
	  content: '';
}

#sidenavcustom  {
		background-color: white;
		border: 1px #900 solid;
		border-radius: 0px 0px 5px 5px;
	}

#s-lg-tabs-container .nav-pills > li > a ,    .list-group-item a {
		

background: white;
		color: black;
		font-weight: 500;
	 padding:6px 35px!important;
}

#s-lg-tabs-container .nav-pills > .active > a,  #s-lg-tabs-container .nav-pills > .active > a:hover  {
		font-weight: bold!important;
		color: black;
		border-radius: none;
		background-color: whitesmoke;
}

.boxshadow  {
		box-shadow: 10px 10px 5px gray;
		border-radius: 10px;
}

#s-lg-tabs-container .nav-tabs > li > a:hover,  #s-lg-tabs-container .nav-pills > li > 

a:hover,  #s-lg-tabs-container .nav-pills > .active > a:hover  {
		background: whitesmoke;
		color: black;
}

#titlemore  {
		background: whitesmoke;
		color: #900;
		font-size: 2em;
		text-align: center;
		border-radius: 8px 8px 0px 0px;
		border-top: 1px solid #900;
		line-height: 125%;
		margin-bottom: 0px;
		border-left: 1px #900 solid;
		border-right: 1px solid #900;
		padding: .6em .2em .6em .2em;
}

p a  {
		text-decoration: underline;
}

#profile a.label-info  {
		background-color: #a32638!important;
}

.label-info:hover  {
		bacground-color: #900!important;
}

p a:hover  {
		color: #900;
}

#s-lg-az-content  {
		font-size: 1.3em!important;
}

.s-lg-az-result-title a  {
		color: black;
		font-size: 1.4em;
		text-decoration: underline;
}

.s-lg-az-result-title a:hover  {
		color: #900;
}

#containerholder  {
	margin-top:%;
}

/*nav content starts here*/.navbar-inverse  {
		max-width: 1280px;
		margin-left: auto;
		margin-right: auto;
		z-index: 1000;
		background-color: #A32638;
		position: relative;
		border-color: #a32638;
	   ;
}

.navbar-nav  {
		margin-left: 21%;
		font-family: 'Open Sans',  sans-serif;
		font-size: 16px;
}

.navbar-inverse .navbar-nav>.active>a:hover,  .navbar-inverse .navbar-nav>li>a:hover,  .navbar-inverse .navbar-nav>li>a:focus  {
		background-color: whitesmoke;
	 text-decoration:none;
}

.navbar-inverse .navbar-nav>.active>a,  .navbar-inverse .navbar-nav>.open>a,  .navbar-inverse .navbar-nav>.open>a,  .navbar-inverse .navbar-nav>.open>a:hover,  .navbar-inverse .navbar-nav>.open>a,  .navbar-inverse .navbar-nav>.open>a:hover,  .navbar-inverse .navbar-nav>.open>a:focus  {
		background-color: #A32638;
}

.dropdown-menu  {
		background-color: #FFFFFF;
}

.dropdown-menu>li>a:hover,  .dropdown-menu>li>a:focus  {
		text-decoration: underline;
		background-color: whitesmoke;
}

}.navbar-inverse  {
		background-image: none;
}

.dropdown-menu>li>a:hover,  .dropdown-menu>li>a:focus  {
		background-image: none;
	 ;
}

.navbar-nav>li>.dropdown-menu  {
		border-radius: 5px;
}

.navbar-inverse  {
		border-color: #900;
}

.navbar-inverse .navbar-brand  {
		color: #FFFFFF;
}

.navbar-inverse .navbar-brand:hover  {
		color: #FFFFFF;
}

.navbar-inverse .navbar-nav>li>a  {
		color: #FFFFFF;
}

.navbar-inverse .navbar-nav>li>a:hover,  .navbar-inverse .navbar-nav>li>a:focus  {
		color: #A32638;
	 text-decoration:none!important;
}

.navbar-inverse .navbar-nav>.active>a,  .navbar-inverse .navbar-nav>.open>a,  .navbar-inverse .navbar-nav>.open>a:hover,  .navbar-inverse .navbar-nav>.open>a:focus  {
		color: #FFFFFF;
}

.navbar-inverse .navbar-nav>.active>a:hover,  .navbar-inverse .navbar-nav>.active>a:focus  {
		color: #A32638;
}

.dropdown-menu>li>a  {
		color: #333333;
		font-size: 14px;
}

.dropdown-menu>li>a:hover,  .dropdown-menu>li>a:focus  {
		color: #141414;
}

.navbar-inverse .navbar-nav>.dropdown>a .caret  {
		border-top-color: #FFFFFF;
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret  {
		border-top-color: #A32638;
}

.navbar-inverse .navbar-nav>.dropdown>a .caret  {
		border-bottom-color: #FFFFFF;
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret  {
		border-bottom-color: #A32638;
}

.navbar-nav>li>a  {
		line-height: 35px;
}

.header2  {
		height: 17px;
			background: #900;
}

#landingpage  {
		max-width: 1280px;
		margin-left: auto;
		margin-right: auto;
}

#logo  {
		position: absolute;
		width: 254px;
		height: 115px;
		z-index: 1;
}

#searchbox  {
		position: absolute;
		width: 250px;
		height: 80px;
		z-index: 2;
		left: 80%;
}

.borderradius  {
		border-radius: 5px;
}

.smallfont  {
		font-size: 10px;
		color: white;
}

#s-lib-public-main .alert  {
		display: none;
}

.panel-default,  .panel  {
	border-color:white!important;
}

.alert-info  {
	display:none;
}

#s-lg-az-search-bar  {
		margin-top: 2em;
}

.s-lib-box-content,  .s-lib-box-content p,  .linkdesc,  p span,  p span font,  span.medium,  font  {
		font-size: 15px!important;
		font-weight: 500;
		color: black;
		font-family: 'Open Sans',  sans-serif!important;
}

.s-lib-profile-div a  {
		color: white;
}

.s-lib-box a,  p a  {
		color: #135d9b;
		text-decoration: underline;
}

.s-lib-box a:hover,  p a:hover  {
		color: #900;
		text-decoration: underline;
}

.badge  {
		background: #900;
}

#profile a.label-info:hover  {
		background: #900!important;
}

.thinredborder  {
		border: 1px solid #903;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
		border-radius: 10px;
		box-shadow: 10px 10px 5px #888;
		margin-right: 15px;
}

.s-lib-box a  {
		text-decoration: none;
}

.databasewrapper  {
		background-color: white;
		max-width: 1280px;
		margin-left: auto;
		margin-right: auto;
}

 .badge-info  {
		background: #e5e5e5;
		background: -moz-linear-gradient(45deg,  #e5e5e5 0%,  #dfdfdf 17%,  #d7d7d7 84%,  #fbfbfb 100%);
		background: -webkit-gradient(linear,  left bottom,  right top,  color-stop(0%,  #e5e5e5),  color-stop(17%,  #dfdfdf),  color-stop(84%,  #d7d7d7),  color-stop(100%,  #fbfbfb));
		background: -webkit-linear-gradient(45deg,  #e5e5e5 0%,  #dfdfdf 17%,  #d7d7d7 84%,  #fbfbfb 100%);
		background: -o-linear-gradient(45deg,  #e5e5e5 0%,  #dfdfdf 17%,  #d7d7d7 84%,  #fbfbfb 100%);
		background: -ms-linear-gradient(45deg,  #e5e5e5 0%,  #dfdfdf 17%,  #d7d7d7 84%,  #fbfbfb 100%);
		background: linear-gradient(45deg,  #e5e5e5 0%,  #dfdfdf 17%,  #d7d7d7 84%,  #fbfbfb 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5',  endColorstr='#fbfbfb',  GradientType=1);
		color: #a32638;
		text-align: center;
		padding-top: 5px;
		padding-bottom: 5px;
		vertical-align: middle;
		padding-left: 10px;
		text-transform: uppercase;
		border-top: 1px solid #900;
		border-bottom: 1px solid #900;
}

td.raquo_menu a  {
		text-decoration: none;
		padding-left: .3em;
		font-size: 17px;
		color: #000;
}

raquo_menu .table th,  .table td  {
		padding-top: 4px;
		padding-bottom: 4px;
		border: none;
}

.raquo_menu a:hover,  .raquo_menu_submenu a:hover  {
		text-decoration: none;
		color: #900;
}

.raquo_menu_submenu a  {
		padding-left: 2.7em;
		font-size: 1.2em;
		color: #000;
}

.raquo_menu_submenu a:visited  {
		font-weight: 700;
}

.table>tbody>tr>td  {
		border-top: 0px;
}

.raquo_menu  {
		color: #900;
		margin-left: 8px;
		text-decoration: none;
		padding-left: .5em;
}

.s-lib-public-body  {
		background-color: whitesmoke;
}

#profile .s-lib-box a  {
		color: white;
		text-decoration: none;
}

.myreynolds  {
		height: 250px;
		width: 210px;
}

input#myjsr_id,  #myjsr_password  {
		margin: 5px;
		height: 2em;
		width: 90%;
}

.myreynoldslabel,  .myreynoldspasswordlabel,  myreynoldspasswordlabel  {
		margin: .5em;
		border-color: #900;
		border-width: 1px;
		border-style: solid;
		background-color: #900;
		color: white;
		font-size: 14px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		padding: 0em .5em 0em .5em;
		width: 90%;
}

.myreynoldslogin  {
		width: 90%;
		margin-left: .5em;
		font-size: 14px;
}

.pull-right  {
		float: right;
}

.button-large  {
	margin-bottom:.5em;
}

/*start internal CSS here*/body  {
		padding-left: 1px;
		padding-right: 1px;
}

/*code for the google search box*/#s-lg-az-result-count  {
		display: none;
}

body,  p,  a,  .s-lib-box,  .s-lib-box-title,  .s-lib-header  {
		font-family: 'Open Sans',  sans-serif!important;
}

/*database page */.  #s-lg-az-content  {
	font-size:1.3em;
	font-weight:500;
}

.50width  {
	margin-bottom:.5em;
	 ;
}

div#s_lg_sel_subjects_chosen  {
	margin-top:10px;
}

/*box titles here*/.s-lib-box .s-lib-box-title  {
		background-color: #0066a1;
		background-image: -ms-linear-gradient(top,  #006EAD 0%,  #0079B5 100%);
		background-image: -moz-linear-gradient(top,  #006EAD 0%,  #0079B5 100%);
		background-image: -o-linear-gradient(top,  #006EAD 0%,  #0079B5 100%);
		background-image: -webkit-gradient(linear,  left top,  left bottom,  color-stop(0,  #006EAD),  color-stop(1,  #0079B5));
		background-image: -webkit-linear-gradient(top,  #006EAD 0%,  #0079B5 100%);
		background-image: linear-gradient(to bottom,  #006EAD 0%,  #0079B5 100%);
		color: #FFF;
		border-radius: 7px;
		font-size: 20px;
		text-align: center;
		box-shadow: #000;
		opacity: .9;
		box-shadow: 3px 3px 5px #888888;
		line-spacing: 120%;
		padding: .1em;
		font-weight: 500;
}

/*side nav content here*/.col-md-12  {
		padding-right: 5px;
		padding-left: 5px;
}

.container  {
		padding: 0px;
		max-width: 1280px;
}

#rightcolumn  {
		margin-top: 40px;
}

.guidenamewrapper  {
		display: none;
}

/*horizontal/default tabs here*/#s-lg-tabs-container .nav-tabs  {
		font-size: 1.2em;
}

#s-lg-tabs-container .nav-tabs > .active > a  {
		border: 1px solid #900;
}

#s-lg-tabs-container .nav-tabs > li > a:hover,  #s-lg-tabs-container .nav-tabs > .active > a:hover  {
		border: 1px solid #900;
}

/*padding to the top*/div.spacing  {
		height: 25px;
		width: 100%;
		background-color: #ffffff;
}

/*subject database content*/#s-lg-az-index a  {
		margin-right: 12px;
		background: #a32638;
		padding: 5px 8px;
		color: white;
		border-radius: 3px;
		margin: 4px;
		font-size: 16px;
		border: 1px solid #a32638;
}

#s-lg-az-search  {
	width:100%!important;
}

.black:hover  {
		text-decoration: black;
}

.black  {
		color: black;
		font-size: 1em;
}

.font16  {
		font-size: 16px;
}

#s-lg-az-index span  {
		display: none;
}

#s-lg-az-index > .active > a  {
		background: white;
		color: #a32638;
}

 . #s-lib-public-main .alert  {
	 display:none;
}

databasebtn  {
		width: 100%!important;
		border-radius: 10px;
		color: white;
		text-decoration: none;
		background: #a32638;
		text-align: center;
		padding-left: 40px;
		padding-right: 40px;
		text-decoration: none;
		padding-bottom: 5px;
		;
	;
}

.panel-heading a:hover  {
		color: black;
}

#s-lg-az-first-f  {
		background: white;
}

#s-lg-az-index a:hover  {
		background: whitesmoke;
		color: #a32638;
}

.s-lg-az-first.bold  {
	background:whitesmoke!important;
	 color:#900!important;
	 text-decoration:none;
}

.chzn-container chzn-container-single,  .chzn-container  {
	 width:100%!important;
}

#s-lg-az-reset  {
		width: 100%;
	 position:absolute;
	 top:240px;
}

.subjectlistbackground  {
		background: #f8f8f8!important;
		padding: 10px 10%;
		border:#e7e7e7 solid 1px;
		border-radius: 3px;
	padding-bottom:2em;
}

#reynoldsresearchguides  {
	background-color: #0066a1;
	background-image: -ms-linear-gradient(top, #006EAD 0%, #0079B5 100%);
	background-image: -moz-linear-gradient(top, #006EAD 0%, #0079B5 100%);
	background-image: -o-linear-gradient(top, #006EAD 0%, #0079B5 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #006EAD), color-stop(1, #0079B5));
	background-image: -webkit-linear-gradient(top, #006EAD 0%, #0079B5 100%);
	background-image: linear-gradient(to bottom, #006EAD 0%, #0079B5 100%);
	color: #FFF;
	border-radius: 10px;
	text-align: center;
	box-shadow: #000;
	margin-top: 15px;
	opacity: .9;
	padding: 5px;
	box-shadow: 3px 3px 5px #888;
}

#s-lib-public-header-title  {
	 background:background-color: #0066a1;
		background-image: -ms-linear-gradient(top,  #006EAD 0%,  #0079B5 100%);
		background-image: -moz-linear-gradient(top,  #006EAD 0%,  #0079B5 100%);
		background-image: -o-linear-gradient(top,  #006EAD 0%,  #0079B5 100%);
		background-image: -webkit-gradient(linear,  left top,  left bottom,  color-stop(0,  #006EAD),  color-stop(1,  #0079B5));
		background-image: -webkit-linear-gradient(top,  #006EAD 0%,  #0079B5 100%);
		background-image: linear-gradient(to bottom,  #006EAD 0%,  #0079B5 100%);
		;
		color: white;
		border-radius: 10px;
		padding-left: 10%;
}

#s-lg-col-1 .s-lib-box-title  {
		background-color: 006699;
}

#s-lg-tabs-container .nav-pills > li > a,    .list-group-item a  {
		border: 1px solid transparent;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		background-color: transparent;
		color: black;
		padding: 6px 15px;
		font-size: 15px!important;
		font-family: 'Open Sans',  sans-serif!important;
		line-height: 18px!important;
}

a:hover  {
		text-decoration: underline!important;
}

.nav .s-lg-index-nav.btn > a  {
		background-color: #a32638;
}

.span12  {
		width: 100%;
}

.s-lg-no-val,  .s-lg-text-greyout,  .s-lib-greyout  {
		color: white;
}

.s-lg-guide-label  {
		color: white;
}

.navbar .nav > li > .dropdown-menu::after  {
		position: absolute;
		top: -6px;
		left: 10px;
		display: inline-block;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #ffffff;
		border-left: 10px solid transparent;
	}

div#qpchatwidget  {
		display: none!important;
		height: 0px!important;
		width: 0px!important;
}

input#searchbtn  {
		background-color: whitesmoke;
		color: black;
		font-family: 'Open Sans',  sans-serif!important;
}

/*start mainpageCSS here*/.mainpage,  .mainpage a  {
		background-color: #a32638!important;
		color: white!important;
		border-radius: 5px;
		text-align: center;
}

.mainpage:hover,  .mainpage a:hover  {
		background-color: #900!important;
	}

#profile .s-lib-box  {
		margin: 0px!important;
		padding: 0px;
}

.backgroundwhite,  input submit  {
		background: white!important;
}

#profile .s-lib-box a  {
	background-color:#a32638;
}

.s-lg-icon  {
	width:18px;
	 height:18px;
	 max-width:18px!important;
	 max-height:18px!important;
}

.chzn-container-single,  .chzn-single span,    {
	color:black;
}

a#s-lg-az-reset  {
	color:white;
	 font-size:1.4em;
}

a#s-lg-az-reset:hover  {
	color:white;
}

#s-lg-az-reset  {
	background: #3498db!important;
		  background-image: -webkit-linear-gradient(top,  #3498db,  #2980b9);
	  background-image: -moz-linear-gradient(top,  #3498db,  #2980b9);
	  background-image: -ms-linear-gradient(top,  #3498db,  #2980b9);
	  background-image: -o-linear-gradient(top,  #3498db,  #2980b9);
	  background-image: linear-gradient(to bottom,  #3498db,  #2980b9);
	  -webkit-border-radius: 28;
	  -moz-border-radius: 28;
	  border-radius: 10px!important;
	  color: #ffffff;
	  font-size: 20px;
	  padding: 10px 20px 10px 20px;
	  text-decoration: none;
		color: #FFF;
	 border: 1px solid white!important;
}

#s-lg-az-reset:hover  {
	  background: #3cb0fd!important;
	  background-image: -webkit-linear-gradient(top,  #3cb0fd,  #3498db);
	  background-image: -moz-linear-gradient(top,  #3cb0fd,  #3498db);
	  background-image: -ms-linear-gradient(top,  #3cb0fd,  #3498db);
	  background-image: -o-linear-gradient(top,  #3cb0fd,  #3498db);
	  background-image: linear-gradient(to bottom,  #3cb0fd,  #3498db);
	  text-decoration: none!important;
}

#s-lg-db-label {
	color:black!important;
	 font-size:1.5em!important;
}

#s-lg-az-count,  #s-lg-sb-count,  #s-lg-profile-count,  #s-lg-er-count  {
	font-size:20px;
	 font-weight:500;
}

.chzn-container  {
	font-size:16px!important;
	 margin-top:9px;
	 height:1.2em;
}

#s-lg-az-results-none  {
	font-size: 1.6em;
	border: 1px solid black;
	border-radius:5px;
	background:#006699;
	color:white;
	padding: 5px 15px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

#s-lg-az-results-none a  {
	color:white;
	 text-decoration:underline;
}

#s-lg-az-results-none a:hover  {
	text-decoration:none!important;
}

#s-lg-db-label-text  {
	display:none;
}

.subjectlistbackground h4  {
	background:#900;
	 color:white;
	 padding: 5px;
	 border-radius: 10px;
	 font-size:1.5em;
	 margin-bottom:0px;
}

.chzn-default  {
	width:100%!important;
	 margin:0px;
	 padding:0px;
}

.s-lib-profile-container h5  {
	background:#a32638;
	 color:white;
	 text-align:center;
	 padding: 10px;
	 border-radius:5px;
}

#az-page-content  {
	width:100%;
	 ;
}

.navbar .nav>li>.dropdown-menu:after {
	position:absolute;
	top:-6px;
	left:10px;
	display:inline-block;
	border-right:6px solid transparent;
	border-bottom:6px solid #fff;
	border-left:6px solid transparent;
	content:'';
}

.navbar-fixed-bottom .nav>li>.dropdown-menu:before {
	top:auto;
	bottom:-7px;
	border-top:7px solid #ccc;
	border-bottom:0;
	border-top-color:rgba(0, 0, 0, .2);
}

.navbar-fixed-bottom .nav>li>.dropdown-menu:after {
	top:auto;
	bottom:-6px;
	border-top:6px solid #fff;
	border-bottom:0;
}

.s-lg-icon  {
	display:inline!important;
}

.s-lg-book-cover  {
	margin-right:5px;
	 padding-right:5px;
}

.s-lg-book-title,  div.s-lg-book-prop-callno,  .s-lg-book-prop-callno,  .s-lg-link-desc  {
	margin-left:5px;
	 ;
}

iframe  {
	width:99%;
}

.btn-toolbar   {
	margin-top:25px;
}

.searchbody  {
	background:white;
	 max-width:1280px;
	 margin: 0 auto;
}

.panel-default > .panel-heading .badge  {
	 font-size:11px;
}

   .panel-default > .panel-heading:hover  {
	background:white!important;
}


 .portallinks a  {
	  color:black;
	 line-height:225%;
}

   .portallinks span  {
	color:#900;
	 padding:10px 5px;
	 ;
}

 .pushdown  {
	padding-top:15px;
}

 .pushdown2  {
	padding-top:5px;
}


li.portallinks  {
	font-size:1.3em!important;
}

  a.chosen-container span  {
	background-color:#900!important;
	 font-weight:bold!important;
}

</style>