@charset "utf-8";
/* CSS Document */<style>p a   {
	text-decoration:underline;
}

a.label-info  {
	background-color:#a32638!important;
}

.label-info:hover  {
	bacground-color:#900!important;
}

p a:hover  {
	color:#900;
}

/*nav content starts here*/.navbar-inverse  {
	max-width:1280px;
	 margin-left:auto;
	 margin-right:auto;
	 z-index:1000;
		background-color: #A32638;
	 position:relative;
	 border-color:#a32638;
}

.navbar-nav  {
	margin-left:19%;
	 font-family: 'Open Sans',  sans-serif;
	 ;
}

.navbar-inverse .navbar-nav>.active>a:hover,  .navbar-inverse .navbar-nav>li>a:hover,  .navbar-inverse .navbar-nav>li>a:focus  {
		background-color: whitesmoke;
	 font-size:1em;
	 ;
}

.navbar-inverse .navbar-nav>.active>a,  .navbar-inverse .navbar-nav>.open>a,  .navbar-inverse .navbar-nav>.open>a,  .navbar-inverse .navbar-nav>.open>a:hover,  .navbar-inverse .navbar-nav>.open>a,  .navbar-inverse .navbar-nav>.open>a:hover,  .navbar-inverse .navbar-nav>.open>a:focus  {
		background-color: #A32638;
}

.dropdown-menu  {
		background-color: #FFFFFF;
}

.dropdown-menu>li>a:hover,  .dropdown-menu>li>a:focus  {
		text-decoration:underline;
	 background-color:whitesmoke;
}

}.navbar-inverse  {
		background-image: none;
}

.dropdown-menu>li>a:hover,  .dropdown-menu>li>a:focus  {
		background-image: none;
}

.navbar-nav>li>.dropdown-menu   {
	border-radius:5px;
}

.navbar-inverse  {
		border-color: #900;
}

.navbar-inverse .navbar-brand  {
		color: #FFFFFF;
}

.navbar-inverse .navbar-brand:hover  {
		color: #FFFFFF;
}

.navbar-inverse .navbar-nav>li>a  {
		color: #FFFFFF;
}

.navbar-inverse .navbar-nav>li>a:hover,  .navbar-inverse .navbar-nav>li>a:focus  {
		color: #A32638;
}

.navbar-inverse .navbar-nav>.active>a,  .navbar-inverse .navbar-nav>.open>a,  .navbar-inverse .navbar-nav>.open>a:hover,  .navbar-inverse .navbar-nav>.open>a:focus  {
		color: #FFFFFF;
}

.navbar-inverse .navbar-nav>.active>a:hover,  .navbar-inverse .navbar-nav>.active>a:focus  {
		color: #A32638;
}

.dropdown-menu>li>a  {
		color: #333333;
}

.dropdown-menu>li>a:hover,  .dropdown-menu>li>a:focus  {
		color: #141414;
}

.navbar-inverse .navbar-nav>.dropdown>a .caret  {
		border-top-color: #FFFFFF;
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret  {
		border-top-color: #A32638;
}

.navbar-inverse .navbar-nav>.dropdown>a .caret  {
		border-bottom-color: #FFFFFF;
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret  {
		border-bottom-color: #A32638;
}

.header2  {
	height:17px;
	 width:100;
	 background:#900;
}

#logo  {
		position: absolute;
		width: 254px;
		height: 115px;
		z-index: 1;
}

#searchbox  {
		position: absolute;
		width: 250px;
		height: 80px;
		z-index: 2;
		left:80%;
	}

.borderradius  {
		border-radius: 5px;
}

.smallfont  {
		font-size: 10px;
		color: white;
}

.pull-right  {
		float: right;
}

 /*start internal CSS here*/ body  {
	padding-left:1px;
	 padding-right:1px;
}

body,  p,  a,  .s-lib-box,  .s-lib-box-title,  .s-lib-header  {
		font-family: 'Open Sans',  sans-serif;
	  ;
}

/*box titles here*/ .s-lib-box .s-lib-box-title  {
	background-color: #0066a1;
	 background-image: -ms-linear-gradient(top,  #006EAD 0%,  #0079B5 100%);
	background-image: -moz-linear-gradient(top,  #006EAD 0%,  #0079B5 100%);
	background-image: -o-linear-gradient(top,  #006EAD 0%,  #0079B5 100%);
	background-image: -webkit-gradient(linear,  left top,  left bottom,  color-stop(0,  #006EAD),  color-stop(1,  #0079B5));
	background-image: -webkit-linear-gradient(top,  #006EAD 0%,  #0079B5 100%);
	background-image: linear-gradient(to bottom,  #006EAD 0%,  #0079B5 100%);
	color: #FFF;
	border-radius: 7px;
	font-size:1.4em;
	text-align: center;
	box-shadow: #000;
	margin-top: 15px;
	opacity: .9;
	box-shadow: 3px 3px 5px #888888;
	line-spacing:120%;
}

/*side nav content here*/ .col-md-12  {
	padding-right:5px;
	 padding-left:5px;
}

.container  {
	padding:0px;
	 max-width:1280;
}

#rightcolumn .s-lib-box-title  {
	display:none;
	   ;
}

#rightcolumn   {
	margin-top:40px;
}

.guidenamewrapper  {
	background: lightgray;
	 padding: 15px;
	 text-alignment:center;
	 border-radius: 8px 8px 0px 0px;
		 color: #a32638;
	margin-top: 25px;
	border: 1px solid black;
	border-bottom:none;
	margin:45px  0px 10px;
	 width:100%;
	 ;
}

#customside  {
	margin-left:-25px;
}

.whitetop  {
	width: 113%;
	height: 15px;
	margin-bottom: 5px;
	background-color: white;
	padding: 0px;
	/* margin: 0px;
	 */margin-left: -15px;
	margin-top: -13px;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 1px solid black;
}

/*horizontal/default tabs here*/ #s-lg-tabs-container .nav-tabs  {
	font-size:1.2em;
}

#s-lg-tabs-container .nav-tabs > .active > a  {
	border:1px solid #900;
}

#s-lg-tabs-container .nav-tabs > li > a:hover,  #s-lg-tabs-container .nav-tabs > .active > a:hover   {
	border:1px solid #900;
}

/*padding to the top*/ div.spacing  {
	height:25px;
	 width:100%;
	 background-color:#ffffff;
	>#s-lg-col-1 .s-lib-box-title  {
	background-color:006699;
}

a:hover  {
	text-decoration:underline!important;
}

.nav .s-lg-index-nav.btn > a  {
	background-color:#a32638;
}

div#s-lib-footer-public  {
	background-color:#a32638;
}

</style><style>.footer {
	 max-width:1280px;
	 	margin-top: 40px;
		color: #FFF;
		clear: both;
		margin-bottom:10px;
		border-radius:10px;
		}

.footer  {
	margin-left:auto;
	 margin-right:auto;
		background-color: #a32638;
		/* IE10 Consumer Preview */ background-image: -ms-linear-gradient(top left,  #a32638 0%,  #8C0000 90%);
	/* Mozilla Firefox */ background-image: -moz-linear-gradient(top left,  #a32638 0%,  #8c0000 80%);
	/* Opera */ background-image: -o-linear-gradient(top left,  #a32638 0%,  #8c0000 80%);
	/* Webkit (Safari/Chrome 10) */ background-image: -webkit-gradient(linear,  left top,  right bottom,  color-stop(0,  #a32638),  color-stop(1,  #8c0000));
	/* Webkit (Chrome 11+) */ background-image: -webkit-linear-gradient(top left,  #a32638 0%,  #8c0000 90%);
	/* W3C Markup,  IE10 Release Preview */ background-image: linear-gradient(to bottom right,  #a32638 0%,  #8c0000 90%);
	padding-left: 2em;
	font-size:.9em;
}

.footer {
		margin-top: 40px;
		color: #FFF;
		clear: both;
		margin-bottom:10px;
		border-radius:10px;
		}

.footer a  {
	color:#ffffff;
}

.row-fluid  {
	  *zoom: 1;
		margin-right: auto;
		margin-left: auto;
		clear: both;
		margin-top: 10px;
}

.row-fluid .span3  {
	  width: 23.404255319148934%;
	  margin-top:.5em;
	 display:inline;
	  ;
}

#parham  {
	 ;
}

.footer .row-fluid .span3 p  {
	padding-bottom:10px;
}

.paddingtop  {
}

.row-fluid .span3  {
	display:inline-block;
		border-top-style: none;
		border-right-style: none;
		border-bottom-style: none;
		border-left-style: none;
	   margin-right:10px;
}

.s-lib-public-body #s-lib-footer-public  {
	display:none;
}

 div#s-lib-footer-public  {
	display:none;
}

 .span12  {
	width:100%;
}

  .s-lg-no-val,  .s-lg-text-greyout,  .s-lib-greyout  {
	color:white;
}

 .s-lg-guide-label  {
	color:white;
}

#s-lg-tabs-container .nav-pills > li > a  {
	border: 1px solid transparent;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: transparent;
	color: black;
	font-weight: bold;
	padding: 6px 15px;
	font-size:.1.2em;
	font-family: 'Open Sans',  sans-serif;
	 ;
}

#s-lg-guide-tabs .s-lg-tabs-side .nav  {
	margin: 0px 0px 40px 0px;
	border: 1px solid black;
	border-radius: 0px 0px 5px 5px;
	margin-top: -10px;
	font-family: 'Open Sans',  sans-serif;
}

.navbar .nav > li > .dropdown-menu:after  {
	position: absolute;
	top: -6px;
	left: 10px;
	display: inline-block;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #ffffff;
	border-left: 10px solid transparent;
	content: '';
}

#searchbtn  {
	background-color:whitesmoke;
	 color:black;
	 font-family: 'Open Sans',  sans-serif;
}

 .myreynolds  {
	height:250px;
	 width:210px;
}

 input#myjsr_id,  #myjsr_password  {
	margin:5px;
	 width:90%;
}

 .myreynoldslabel,  .myreynoldspasswordlabel  {
margin: .5em;
border-color: #900;
border-width: 1px;
border-style: solid;
background-color: #900;
color: white;
font-size: 1em;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding:0em .5em 0em .5em;
width:90%;
}

.myreynoldslogin  {
	width:90%;
	 margin-left:.5em;
	 font-size:1em;
}




/*start mainpageCSS here*/ 
.mainpage,  .mainpage a  {
	background-color:#a32638!important;
	 color:white!important;
	 border-radius:5px;
	  text-align:center;
}

 .mainpage:hover,  .mainpage a:hover  {
	background-color:#900!important;
	 ;
}






@media screen and (max-width : 800px)  {
		#searchbox  {
	display:none;
}


}

   @media screen and (max-width : 600px)  {
	.navbar-inverse .navbar-collapse,  .navbar-inverse .navbar-form  {
	border:0px;
}

#customside  {
	margin-left:0px;
}

.navbar-nav  {
	margin-left:0px;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a  {
	color:white;
}

 .dropdown-menu:after  {
	display:none;
		 ;
}

</style>



